
.count, .operation, .count_tile {
    text-align: center;
    width: 330px;
}

.count > .form_count > select,
.count > input {
    width: 100%;
}

.open_table {
    display: block;
    margin: 10px auto;
}
.operation {
    display: none;
}
.form_add {
    display: none;
}

.count_tile > .tile_size > input {
    display: inline-block;
    vertical-align: top;
}

.tile_size > label,
.wall_size > label,
.door_size > .door > label{
    position: absolute;
    right: 15px;
}

.door {
    display: none;
}

.close {
    position: absolute;
    left: 0;
}

.total_div {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.total_div > label {
    margin: 0;
    text-decoration: underline;
}

.totalAmount {
    height: 16px;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
}

.div_btn {
    height: 50px;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}